.main__container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--palet-color-6);
  display: flex;
  flex-direction: column;
}
.main__headerContainer {
  background-color: var(--palet-color-1);
  color: var(--gray-color);
  margin: 0;
  padding: 0.5rem 1rem;
}
.main__headerTittle {
  margin: 0;
  font-size: large;
}

/* Content */
.main__contentContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  flex-grow: 1;
}
.main__contentMain {
  background-color: var(--white-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main__contentSider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

/* Sider */
.main__siderButton {
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--palet-color-2);
  color: var(--white-color);
}
.main__siderButtonAdd {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--palet-color-2);
  color: var(--white-color);
}
.main__siderTareasContainer {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main__siderNoSprints{
  text-align: center;
  margin-top:  10rem;
}

/* Main */
.main__mainButtonAdd{
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--palet-color-2);
  color: var(--white-color);
}

/* Sprint */
.sprint__tareasGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;
  flex-grow: 1;
}
.sprint__tareaEstado{
  background: var(--palet-color-5);
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.sprint__estadoTittle{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.sprint__contCard{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
