.home__container {
  width: 100%;
  background-color: var(--gray-color);
}
.home__headerContainer {
  background-color: var(--pupUp-color);
  color: var(--gray-color);
  margin: 0;
  padding: .5rem 1rem;
}
.home__headerTittle {
  margin: 0;
  font-size: large;

}

/* Content */
.home__contentContainer{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.home__contentMain{
  background-color: var(--white-color);
}
