.tarea__container{
  width: 100%;
  background-color: var(--palet-color-5);
  min-height: 5rem;
  padding: 1rem;
  border-radius: .5rem;
}
.tarea__buttonAction{
  min-height: 1rem;
  width: 2rem;
  background-color: var(--palet-color-2);
  border: 1px solid black;
  border-radius: 3px;
  color: var(--white-color);
}
